.Dictionary .container {
  margin: 10px auto;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #d3c4c4;
}

.Dictionary h2 {
  margin-top: 20px;
  padding: 10px;
}

.Dictionary form small {
  font-size: 12px;
}

.Dictionary .searchInput {
  padding: 10px;
  width: 100%;
  border: 1px solid #d3c4c4;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 5px;
}

.Dictionary .searchSection {
  padding: 20px;
}

.Dictionary .meaning {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff9f9;
  padding: 15px;
  border-radius: 10px;
}

.SearchResult {
  padding: 10px;
}

.SearchResult .resultWord {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fffbfb;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.SearchResult .resultWord h1 {
  font-weight: 800;
}

.Meaning em {
  color: #70757a;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
}

.Photos {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fffbfb;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.Photos img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
